<div class="row">
  <div class="col">
    <h1>Clock Game</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="text-center">
      <div class="exercise bg-light pb-2">
        <p class="fw-lighter">Look the picture and read the statement.</p>
        <img class="img img-thumbnail" src="{{this.current.image}}" width="70%" alt="Image" *ngIf="this.current !== undefined">
        <p class="fs-2">
          {{ this.current == undefined ? 'Loading...' : this.current.expression }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-7 text-center">
    <p class="fw-lighter">Set the correct time on the clock</p>
    <div id="loading_div" style="display: block;">
      <h2>
        Interactive Clock </h2>
      <div><img src="assets/images/loader_circles_black.gif" width="64" height="64" alt="loading"> </div>
      <br />
      <button class="btn btn-info" (click)="loadClock()">Carga el relog interactivo aqu&iacute;</button>
    </div>
    <div id="game_container" style="display: inline; width: 100%;">
      <div id="game">
        <canvas pointer-events="all" id="canvasStage" width="780" height="750" style=" width:70%; height:70%;"></canvas>
        <svg id="stage" style="position:absolute;top:0px; left:0px;" viewBox="0 0 780 750"
          preserveAspectRatio="xMinYMin" pointer-events="none">
          <g id="svgStage" pointer-events="none">
            <rect id="area" width="780" height="750" fill="#ffffff" fill-opacity="0" stroke="#000000" stroke-opacity="0"
              stroke-width="0"></rect>
          </g>
        </svg>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-success m-2 btn-lg" (click)="check()">Check Answer</button>
      <button class="btn btn-info m-2 btn-lg" (click)="processExercise()">Next</button>
    </div>
    <p class="fw-lighter fs-2">{{ result }}</p>
  </div>
  <router-outlet />